@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Quicksand:wght@300&family=Roboto+Condensed:wght@300&display=swap');

body {
    /*font-family: Geneva, Verdana, Tahoma, sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 900;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
    word-spacing: 10px;
    /*text-decoration: underline;*/
}


