body {
    background:#ffe7e7;
}

/*Контейнер + Навигация*/

.container {
    background: rgb(255, 255, 255);
    /*margin: 1%;
    padding: 1%;*/
    box-shadow: 20px 20px 25px rgba(167,160,255, 0.3);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    text-decoration:none;
}

a {
    text-decoration: none;
}


.navbar {
    background: #fff;
    display: block;
    margin: 10px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
    
}

.navbar ul li {
    margin-right: 10px;
    padding: 10px;
    
}

/*.navbar ul li:hover {
    background: rgb(25, 91, 117);
    border-radius: 25px;
}*/


#header {
    text-align: center;
    background: #b4b0f7;
    border-radius: 30px;
    margin-top: 220px;
    padding: 7px;
    margin-bottom: 35px;
    color:#1e1240;
}



.Tables {
    background:#b4b0f7;
    color: #1e1240;
    border-radius: 30px;
    margin: 5px;
    padding: 7px;
    margin-bottom: 35px;
}

.Manufacturers {
    background: #b4b0f7;
    color:#1e1240;
    border-radius: 30px;
    margin: 5px;
    padding: 25px;
    margin-bottom: 35px;
}


/*КНОПКИ*/

.btn {
    background: #604ad5;
    padding: 8px 10px;
    color:#ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
    text-decoration: none;
}

.btn {
    opacity: .8;
}

.btn-send {
    background: #604ad5;
    padding: 6px 10px;
    color:#ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
    text-decoration: none;
}


.btn-send {
    opacity: .8;
}

a:hover {
    text-decoration: underline;
}




/*ТАБЛИЦА производители*/
.list {
    width: 100%;
    text-align: center;
}

.list tr:hover {
    background: #47b4d3;
    border-radius: 25px;
}





/* Формы*/
.form h4 {
    text-align: center;
}


.from-row {
    margin-bottom: 10px;
    display: flex;
}

.from-row .from-group {
    margin-right: 20px;
    width: 50%;
}

.from-row .from-group:last-child {
    margin-right: 0;
}


.from-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}

.from-group input,
.from-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #8572ef;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}





/*
.social {
    display: inline;
    position: absolute;
    
}

/*
.Opisanie {
    margin: 25px;
    padding: 25px;
    margin-top: 55px;
    text-align: center
}

.Prof {
    width: 100%;
    text-align: center;
}

*/

